<!DOCTYPE html>
<html>
<head>
    <title>Smart Parking</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
</head>

<body>

<h2>Parking: {{ destination }}</h2>
<p>Free: <span id="free">{{ total_free }}</span> / <span id="total">{{ total_capacity }}</span></p>
<p>Updated: <span id="time">{{ last_updated }}</span></p>

<div id="map" style="height:500px;"></div>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<script>

const destination = "{{ destination }}";

const map = L.map('map').setView(
    [{{ area_center['lat'] }}, {{ area_center['lng'] }}], 
    19
);

L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);

let layer = L.layerGroup().addTo(map);

function render(spots){
    layer.clearLayers();

    spots.forEach(s=>{
        const color = s.is_free ? "green" : "red";

        const m = L.circleMarker([s.latitude, s.longitude], {
            radius: 6,
            fillColor: color,
            color:"#fff",
            fillOpacity:1
        }).addTo(layer);

        m.bindPopup(`
            <b>${s.spot_code}</b><br>
            ${s.is_free ? "Free" : "Occupied"}<br><br>

            <form method="POST" action="/report">
                <input type="hidden" name="spot_code" value="${s.spot_code}">
                <button name="status" value="Free">Free</button>
                <button name="status" value="Full">Full</button>
            </form>
        `);
    });
}

async function refresh(){
    const res = await fetch(`/api/parking/${destination}`);
    const data = await res.json();

    document.getElementById("free").innerText = data.total_free;
    document.getElementById("total").innerText = data.total_capacity;
    document.getElementById("time").innerText = data.time;

    render(data.spots);
}

// initial render
render([
{% for s in spots %}
{
    spot_code: "{{ s['spot_code'] }}",
    is_free: {{ s['is_free'] }},
    latitude: {{ s['latitude'] }},
    longitude: {{ s['longitude'] }}
},
{% endfor %}
]);

// 🔥 auto refresh every 5 seconds
setInterval(refresh, 5000);

</script>

</body>
</html>
